@import "tailwindcss";

@layer utilities {
    .animate-in {
        animation-fill-mode: both;
    }

    .slide-in-top {
        animation: slideInFromTop;
    }

    .duration-900 {
        transition: ease-in-out;
        animation-duration: 900ms;
    }
}

@keyframes slideInFromTop {
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

